@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Roboto';
    font-family: "Poppins", sans-serif
}


.container {
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.wallet__block {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.wallet__text {
    display: flex;
    gap: 41px;

}

.wallet__list::after {
    content: "";
    width: 11px;
    height: 10px;
    position: absolute;
    background-image: url(../img/Vector\ \(5\).png);
    background-repeat: no-repeat;
    top: 20px;
    gap: 5px;
    color: black;
}

.fresh__grooup {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.input {
    width: 420px;
    padding-top: 17px;
    padding-left: 16px;
    padding-bottom: 12px;
}

.foorem {

    position: relative;
}

.fresh__nome {
    display: flex;
    gap: 40px;
}

.foorem::after {
    content: "";
    position: absolute;

    background-image: url(../img/Link.png);
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: #f53e32;


}

.stuff {
    background-image: url(../img/Section.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 268px;
    padding-bottom: 338px;

}

.stuff__mein {
    display: flex;
    gap: 30px;
}

.stuff__list {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #f53e32;
}

.stuff__list__1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #212529;
}

.stuff__title {
    font-weight: 900;
    font-size: 55px;
    line-height: 124%;
    letter-spacing: 0.01em;
    color: #000;
    width: 500px;
    padding-top: 20px;
}

.stuff__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 175%;
    letter-spacing: 0.03em;
    color: #7a7a7a;
    width: 550px;
    padding-top: 30px;
}

.stuff__butten {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #fff;
    border-radius: 5px;
    width: 118px;
    background: #f53e32;
    margin-top: 30px;
    align-items: center;
    height: 50px;

}

.milk__block {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;

}

.milk__list {
    padding: 3px;
    font-size: 5px;
    color: #000;
    background-color: #f7f7f8;
    border: 2px solid black;
    padding-top: 32px;
}

.milk__text {
    display: grid;
    grid-template-columns: 400px;
    justify-content: space-between;
}

.milk__title__1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 143%;
    color: #f53e32;
}

.milk__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 143%;
    color: #2b2b2d;
    padding-top: 50px;
}

.milk__cat__club {
    font-weight: 400;
    font-size: 12px;
    line-height: 143%;
    color: #7a7a7a;

}

.milk__title__1 {
    margin-bottom: 20px;
    padding-top: 10px;
}

.milk__mein {
    text-align: center;
}

.products {
    padding-bottom: 100px;
}

.products_title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #2b2b2d;
    margin-bottom: 17px;
}

.products_text {
    margin-bottom: 30px;
    width: 596px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #7a7a7a;
    ;
}

.products_item {
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    width: 306px;
    padding-top: 11px;
    padding-left: 16px;
}

.products_list {
    display: grid;
    grid-template-rows: repeat(5, 50px);
    row-gap: 5px;
}

.products_link {
    font-weight: 700;
    font-size: 14px;
    line-height: 167%;
    letter-spacing: 0.03em;
    color: #2b2b2d;
}

.products_item:nth-child(1) .products_link {
    color: #f53e32;
}

.fruits_block {
    background-repeat: no-repeat;
    background-image: url(../img/product-banner.jpg.png);
    padding: 94px 143px 415px 4px;
}

.fruits_name {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #fff;
}

.fruits_title {
    font-weight: 900;
    font-size: 38px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #f7e8aa;
}

.fruits_des {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 15px;
}

.fruits_btn {
    border: 1px solid #f53e32;
    border-radius: 5px;
    background-color: #f53e32;
    padding: 12px 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #fff;
}

.products_left_block {
    display: grid;
    row-gap: 24px;
}

.products_block {
    display: flex;
    gap: 24px;
}

.fruits_item {
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background-color: #fff;
    padding: 13px 13px;
}

.products_name {
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #777;
    margin-top: 24px;
    margin-bottom: 40px;
    position: relative;
}

.products_des {
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #2b2b2d;
    margin-bottom: 19px;
}

.price_block {
    display: flex;
    gap: 9px;
    align-items: center;
    justify-content: center;
}

.products_price {
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #f53e32;
}

.products_old_price {
    font-weight: 400;
    font-size: 13px;
    line-height: 175%;
    letter-spacing: 0.04em;
    text-decoration: line-through;
    text-align: center;
    color: #7a7a7a;
}

.fruits_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
}

.products_name::before {
    content: "";
    width: 35px;
    height: 35px;
    display: inline-block;
    background-image: url(../img/products_img1.svg);
    position: absolute;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -17px;
}

.products_name::after {
    content: "";
    width: 123px;
    height: 15px;
    display: inline-block;
    background-image: url(../img/four_start.svg);
    position: absolute;
    bottom: -21px;
    left: 84px;
}

.days__block {
    background-image: url(../9\ →\ 1.jpg.png);
    background-repeat: no-repeat;
}

.days__mein {
    margin-left: 30px;
    margin-right: 140px;
}

.days__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2b2b2d;
    width: 166px;
    padding-top: 44px
}

.days__name {
    display: flex;
    gap: 10px;
    padding-top: 10px;

}

.days__mani {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #f53e32;

}

.days__mani__1 {
    ont-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #777;
}

.days__mein__1 {
    background-image: url(../photo_2024-07-05_09-35-12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 416px;
    gap: 100px;

}


.days__mein__2 {
    background-image: url(../photo_2024-07-05_09-35-26.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 416px;

}



.days__block {
    display: flex;
    justify-content: center;
    justify-content: space-between;

}